{% extends "base_generic.html" %}

{% block content %}
  <h1>Random number generator Home</h1>
  <p>Welcome to Random generator, a website which lets you generate some random numbers!</p>
{#  <h2>Dynamic content</h2>#}
{#  <p>The library has the following record counts:</p>#}
{#  <ul>#}
{#    <li><strong>Books:</strong> {{ num_books }}</li>#}
{#    <li><strong>Copies:</strong> {{ num_instances }}</li>#}
{#    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>#}
{#    <li><strong>Authors:</strong> {{ num_authors }}</li>#}
{#  </ul>#}
{% endblock %}

{% block title %}
  <title>Rand Gen</title>
{#  </ul>#}
{% endblock %}