{% extends "base_generic.html" %}

{% block content %}
  <h1>Number guesser</h1>
  <form action="" method="get">
    <label for="Lower bound">Lower bound:</label>
    <input id="lower_bound" type="number" name="lower_bound_field" value={{ lower_bound }}>
{#    <input type="submit" value="OK">#}
  <label for="Upper bound">Upper bound:</label>
    <input id="upper_bound" type="number" name="upper_bound_field" value={{ upper_bound }}>
       <br>
  <label for="Your lucky number">Your lucky number:</label>

  <input id="user_num" type="number" name="user_num" value="{{ user_num }}">
      <input type="submit" value="Get my number!">
  </form>
    {% if rand_int != '' %}
        The chosen number: {{  rand_int }}

        {% if rand_int == user_num %}
            Congrats - you won!
        {% endif %}
        {% if rand_int != user_num %}
            You lost :c
        {% endif %}
    {% endif %}
{% endblock %}